<% content_for :sidebar do %>

<%=content_tag(:h3, l(:plugin_name)) %>

<div id="glist-menu">
  <%= link_to_unless_current l(:my_status), {action: 'index'} %><br>
  <%= link_to_unless_current l(:tutorial), {action: 'tutorial'} %><br>
  <%= link_to_unless_current l(:badge), {action: 'badges'} %><br>
  <%= link_to_unless_current l(:evaluate), {action: 'rating'} %><br>
  <%= link_to_unless_current l(:ranking), {action: 'rankking'} %><br>
</div>

<br><br>
<div id="destroy">
  <%= link_to l(:remove_label), {action: 'destroy'}, confirm: l(:are_you_sure)%>
</div>
<% end %>
