<%= stylesheet_link_tag '/index.css', plugin: 'gamification', media: 'screen' %>
<%= javascript_include_tag '/graph/radar.js', plugin: 'gamification' %>
<%= javascript_tag do %>
window.onload = function() {
  var rc = new html5jp.graph.radar('sample');
  if (!rc) { return; }
  var medals = <%= raw @user.gamification_medal.to_json %>;
  var items = [
    ['Medals Earned', medals.gamification_medal.thank_medal, medals.gamification_medal.smile_medal, medals.gamification_medal.hot_medal,
                   medals.gamification_medal.nice_medal, medals.gamification_medal.comm_medal, medals.gamification_medal.grow_medal]
  ];
  var params = {
    aCap: ['Thanks medal', 'Smile medal', 'Blooded medal',
           'Nice medal', 'Communication medal', 'Growth medal']
  };
  rc.draw(items, params);
}
<% end %>

<h2>Gamification application</h2>

<h3 id="title"><span><%= @user.user.name %></span>Status of Mr.</h3>

<div id="user-image">
  <% if @user.image.nil? %>
    <%= image_tag '/users/noimage.gif', {width: 150, height: 150, plugin: 'gamification'} %><br><br>
    <%= form_for @user, url: {action: 'upload_image'}, html: {multipart: true} do |f| %>
      <%= f.label :image, 'Please upload the image' %>
      <%= f.file_field :image %>
      <%= f.submit 'Upload' %>
    <% end %>
  <% else %>
    <%= image_tag url_for(action: 'get_image', id: @user), {width: 150, height: 150} %><br><br>
    <%= link_to 'I want to remove the image', {action: 'remove_image'}, confirm: 'Are you sure you want to delete?' %><br>
  <% end %>
  <p>Username:<%= @user.user.login %></p>
</div>

<div id="user-info">
  <div id="user-point">
    <p><%= @user.point %></p> 
    <p class="item">Point</p> 
  </div>
  <div id="user-level">
    <p><%= @user.level %></p> 
    <p class="item">Level</p> 
  </div>
  <div id="user-ticket_count">
    <p><%= @user.ticket_count %></p> 
    <p class="item">Ticket number of updates</p> 
  </div>
</div>

<br><br>
<h2 style="clear: both;">Medals I got from other members</h2>

<table border="1">
  <tr>
    <th>Thanks</th>
    <th>Smile</th>
    <th>Passion</th>
    <th>Nice action</th>
    <th>Communication</th>
    <th>Growth</th>
  </tr>
  <tr>
    <td><%= @user.gamification_medal.thank_medal %></td>
    <td><%= @user.gamification_medal.smile_medal %></td>
    <td><%= @user.gamification_medal.hot_medal %></td>
    <td><%= @user.gamification_medal.nice_medal %></td>
    <td><%= @user.gamification_medal.comm_medal %></td>
    <td><%= @user.gamification_medal.grow_medal %></td>
  </tr>
</table>

<div><canvas width="600" height="500" id="sample"></canvas></div>

<%= render 'sidebar' %>
