<%=content_tag(:h2, l(:ranking)) %> 

<div id="user-ranking">
  <table border="1" class="list">
    <tr>
      <%=content_tag(:th, l(:ranking)) %>
      <%=content_tag(:th, l(:username)) %> 
      <%=content_tag(:th, l(:score)) %>
      <%=content_tag(:th, l(:medals)) %>
    </tr>
    <% @users.each_with_index do |user, i| %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= user.user.name %></td>
        <td><%= user.point %></td>
        <td><%= user.gamification_medal.thank_medal + user.gamification_medal.smile_medal + user.gamification_medal.hot_medal +
                user.gamification_medal.nice_medal + user.gamification_medal.comm_medal + user.gamification_medal.grow_medal %></td>
      </tr>
    <% end %>
  </table>
</div>

<%= render 'sidebar' %>
