<style>
#rating-form {
  font-size: 20px;
  text-align: center;
  padding: 60px 40px;
}

.rating-select {
  font-size: 20px;
}
</style>

<h2>Evaluative function</h2>

<% unless @users.nil? %>
  <div id="rating-form">
  <%= form_tag({action: 'regist_rating'}) do %>
    <%= select_tag('rate_user', options_for_select(@users), {class: 'rating-select'}) %>To Mr.
    <%= select_tag('medal', options_for_select(@medals), {class: 'rating-select'}) %>The
    <%= submit_tag 'Award', {class: 'rating-select'} %>
  <% end %>
  </div>
<% else %>
  <h3>You can not use this feature because it does not have users in other</h3>
<% end %>

<%= render 'sidebar' %>
